.logo{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(218, 211, 226);
    font-weight: 700;
}
.navbar{
    background-color: rgb(107, 106, 103);
}
.formating{
    color:  rgb(111, 109, 114);;
}